
body{
	background-color: #09203f;
	color: #ffc3a0;
	
	
}

h1{
	font-family: Impact, Charcoal, sans-serif;
	font-size: 25px;
	text-align: center;


}

p{
	text-align: left;

}

ul{

}

li{

}

img{
	width: 60%;
	height: auto;
	align-content: center;

}

#slogan{
	text-align: center;

}

a:hover {
    color: hotpink;
}

a{
	color: #ffafbd;
}