
body{
	background-color: #09203f;
	color: #ffc3a0;
	text-align: center;
	
	
}

h1{
	font-family: Impact, Charcoal, sans-serif;
	font-size: 25px;
	text-align: center;


}

p{
	text-align: left;
}

img{
	width: 60%;
	height: auto;
}

#slogan{
	text-align: center;

}

a:hover {
    color: #ffafbd;
}

a{
	color: hotpink;
}

#bullet{
	text-align: left;
}